{% extends 'base.html' %}
{% load static %}
{% block title %}About Us | Antara | Online consultation{% endblock %}
{% block meta-description %}Your Naturopath from India guiding you towards Holistic Wellness. At Antara, we believe in the power of nature to heal and rejuvenate the body, mind, and spirit.{% endblock %}
{% block canonical-link %}https://www.antaracares.com/about-us{% endblock %}
{% block og-url %}https://www.antaracares.com/static/images/og.jpg{% endblock %}
{% block og-title %}About Us | Antara | Online consultation{% endblock %}
{% block og-sitename %}About Us | Antara | Online consultation{% endblock %}
{% block og-imgalt %}About Us | Antara | Online consultation{% endblock %}
{% block og-description %}Your Naturopath from India guiding you towards Holistic Wellness. At Antara, we believe in the power of nature to heal and rejuvenate the body, mind, and spirit.{% endblock %}
{% block twitter-imgalt %}About Us | Antara | Online consultation{% endblock %}
{% block twitter-title %}About Us{% endblock %}
{% block twitter-description %}Your Naturopath from India guiding you towards Holistic Wellness. At Antara, we believe in the power of nature to heal and rejuvenate the body, mind, and spirit.{% endblock %}

{% block content %}
<!-- Section 1 -->
<section class="our-story-sec1">
    <div class="our-story-section1">
        <div class="about-title">
            <div class="service-title-box">
                <div class="service-title-box-bg d-flex flex-column justify-content-center">
                    <h1 class="home-sec-1-title text-center mb-0 py-3 px-3 text-animate-2">Welcome to Antara,<br>Your Naturopath from<br>India.</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section 6 -->
<section id="home-scroll" class="home-section-6 bg-white">
    <div class="container-margin section4 py-5">
    <div class="row align-items-center g-0 g-lg-5">
        <div class="col-lg-5 col-12 order-lg-1 order-2 mt-5 mt-lg-0">
            <div class="home-sec-6-top">
                <div class="d-desktop no-d-mobile">
                    <h4 class="home-sec1-title text-center mt-1 mb-0">
                      <div class="text-animate">Your Virtual Destination<br>for Holistic Wellness,<br>Rooted in Personalized<br>Online Care.</div>
                    </h4>
                    <span class="title-border title-border-ani-1"></span>
                </div>
                <p class="our-story-para font-avenir-light text-start text-lg-center">Founded by a devoted team of seasoned naturopathic doctors, practitioners, and wellness enthusiasts, Antara is deeply committed to fostering holistic well-being. Our mission is to tackle health issues at their roots, promoting comprehensive wellness. At Antara, we prioritize a patient-centric approach, dedicating time to comprehend your individual health concerns, lifestyle choices, and aspirations.</p>
                <p class="our-story-para font-avenir-light text-start text-lg-center mb-0">We prioritize the most natural, least invasive and least toxic therapies and long-term goals to treat illness, and promote lifelong wellness by viewing the body as an integrated whole – Antara is all about that.</p>
            </div>
        </div>
        <div class="col-lg-7 col-12 order-lg-2 order-1 mt-0">
            <div class="d-mobile no-d-desktop">
                <div class="home-sec1-title text-center mt-1 mb-0">
                  <div class="text-animate">Your Virtual Destination<br>for Holistic Wellness,<br>Rooted in Personalized<br>Online Care.</div>
                </div>
                <span class="title-border title-border-ani-2"></span>
              </div>
            <div class="home-sec6-img">
                <img width="700" class="img-fluid" src="{% static 'images/about-us-2.jpeg' %}" alt="About Naturopathy Image">
            </div>
        </div>
    </div>
    </div>
</section>

<!-- Section 2 -->
{% comment %} <section class="about-us-section-2 bg-sandal">
    <div class="container-margin section1">
        <div class="row">
            <div class="col-12">
                <h2 class="home-sec2-title mb-0">
                    <div class="text-center d-desktop no-d-mobile text-animate"><span>Our Doctors</span></div>
                    <div class="text-center no-d-desktop d-mobile text-animate"><span>Our Doctors</span></div>
                </h2>
            </div>
        </div>
    </div>
</section> {% endcomment %}
<section class="home-section-2 py-5">
    <div class="container-margin section1 w-100">
      <div class="row mb-0 mb-lg-5">
        <div class="col-12">
          <h2 class="home-sec7-title-t mb-0">
            <div class="text-center text-animate"><span>Our Doctors</span></div>
          </h2>
          <span class="title-border title-border-ani-2"></span>
        </div>
      </div>
      <div class="service-cards">
        <div class="d-mobile no-d-desktop">
          <div id="owl-carousel-3" class="carousel-single owl-carousel owl-drag owl-theme h-100 p-3">
            <div class="item">
                <div class="card card-shadow mb-3 card-doctor">
                    <div class="card-service-img-h"><div class="card-service-img card-doctor-img-2"></div></div>
                    <div class="card-body">
                      <h3 class="card-title text-center mt-3">Dr. Preethi Palaniappan</h3>
                      <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                    </div>
                </div>
            </div>
            <div class="item">
              <div class="card card-shadow mb-3 card-doctor">
                  <div class="card-service-img-h"><div class="card-service-img card-doctor-img-3"></div></div>
                  <div class="card-body">
                    <h3 class="card-title text-center mt-3">Dr. Ramya Babu</h3>
                    <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                  </div>
              </div>
            </div>
            <div class="item">
              <div class="card card-shadow mb-3 card-doctor">
                  <div class="card-service-img-h"><div class="card-service-img card-doctor-img-6"></div></div>
                  <div class="card-body">
                    <h3 class="card-title text-center mt-3">Dr. Amirthaselvarajan</h3>
                    <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                  </div>
              </div>
            </div>
            {% comment %} <div class="item">
              <div class="card card-shadow mb-3 card-doctor">
                  <div class="card-service-img-h"><div class="card-service-img card-doctor-img-1"></div></div>
                  <div class="card-body">
                    <h3 class="card-title text-center mt-3">Dr. Ellakya</h3>
                    <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                  </div>
              </div>
            </div> {% endcomment %}
            <div class="item">
              <div class="card card-shadow mb-3 card-doctor">
                  <div class="card-service-img-h"><div class="card-service-img card-doctor-img-5"></div></div>
                  <div class="card-body">
                    <h3 class="card-title text-center mt-3">Dr. Gousika Vasudevan</h3>
                    <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                  </div>
              </div>
            </div>
            <div class="item">
              <div class="card card-shadow mb-3 card-doctor">
                  <div class="card-service-img-h"><div class="card-service-img card-doctor-img-1"></div></div>
                  <div class="card-body">
                    <h3 class="card-title text-center mt-3">Dr. Hamid</h3>
                    <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                  </div>
              </div>
            </div>
            <div class="item">
              <div class="card card-shadow mb-3 card-doctor">
                  <div class="card-service-img-h"><div class="card-service-img card-doctor-img-8"></div></div>
                  <div class="card-body">
                    <h3 class="card-title text-center mt-3">Dr. Durai Viswa</h3>
                    <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                  </div>
              </div>
            </div>
            {% comment %} <div class="item">
              <div class="card card-shadow mb-3 card-doctor">
                  <div class="card-service-img-h"><div class="card-service-img card-doctor-img-1"></div></div>
                  <div class="card-body">
                    <h3 class="card-title text-center mt-3">Dr. Sudharshan</h3>
                    <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                  </div>
              </div>
          </div> {% endcomment %}
          </div>
        </div>
        <div class="d-desktop no-d-mobile">
          <div class="row justify-content-center g-5">
            <div class="col-lg-4">
              <div class="card card-shadow mb-3 card-doctor">
                <div class="card-service-img-h"><div class="card-service-img card-doctor-img-2"></div></div>
                <div class="card-body">
                  <h3 class="card-title text-center mt-3">Dr. Preethi Palaniappan</h3>
                  <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-shadow mb-3 card-doctor">
                <div class="card-service-img-h"><div class="card-service-img card-doctor-img-3"></div></div>
                <div class="card-body">
                  <h3 class="card-title text-center mt-3">Dr. Ramya Babu</h3>
                  <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-shadow mb-3 card-doctor">
                <div class="card-service-img-h"><div class="card-service-img card-doctor-img-6"></div></div>
                <div class="card-body">
                  <h3 class="card-title text-center mt-3">Dr. Amirthaselvarajan</h3>
                  <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-shadow mb-3 card-doctor">
                <div class="card-service-img-h"><div class="card-service-img card-doctor-img-5"></div></div>
                <div class="card-body">
                  <h3 class="card-title text-center mt-3">Dr. Gousika Vasudevan</h3>
                  <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-shadow mb-3 card-doctor">
                  <div class="card-service-img-h"><div class="card-service-img card-doctor-img-1"></div></div>
                  <div class="card-body">
                    <h3 class="card-title text-center mt-3">Dr. Hamid</h3>
                    <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card card-shadow mb-3 card-doctor">
                  <div class="card-service-img-h"><div class="card-service-img card-doctor-img-8"></div></div>
                  <div class="card-body">
                    <h3 class="card-title text-center mt-3">Dr. Durai Viswa</h3>
                    <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                  </div>
                </div>
              </div>
              {% comment %} <div class="col-lg-3">
                <div class="card card-shadow mb-3 card-doctor">
                  <div class="card-service-img-h"><div class="card-service-img card-doctor-img-1"></div></div>
                  <div class="card-body">
                    <h3 class="card-title text-center mt-3">Dr. Ellakya</h3>
                    <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                  </div>
                </div>
              </div> {% endcomment %}
              {% comment %} <div class="col-lg-3">
                <div class="card card-shadow mb-3 card-doctor">
                  <div class="card-service-img-h"><div class="card-service-img card-doctor-img-1"></div></div>
                  <div class="card-body">
                    <h3 class="card-title text-center mt-3">Dr. Sudharshan</h3>
                    <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                  </div>
                </div>
              </div> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- Section 6 -->
<section id="home-scroll" class="home-section-6 bg-white">
    <div class="container-margin section4 py-5">
    <div class="row align-items-center g-0 g-lg-5">
        <div class="col-lg-5 col-12 order-lg-2 order-2 mt-5 mt-lg-0">
            <div class="home-sec-6-top">
                <div class="d-desktop no-d-mobile">
                    <h4 class="home-sec1-title text-center mt-1 mb-0">
                      <div class="text-animate">Our Approach</div>
                    </h4>
                    <span class="title-border title-border-ani-1"></span>
                </div>
                <p class="our-story-para font-avenir-light text-start text-lg-center">Listening, Understanding, and Customizing Holistic Solutions.</p>
                    <p class="our-story-para font-avenir-light text-start text-lg-center">We understand that each individual is unique, and so are their health concerns. That's why we take the time to listen and understand your specific needs, lifestyle, and health goals.</p>
                <p class="our-story-para font-avenir-light text-start text-lg-center mb-0">By embracing a holistic perspective, we aim to create customized treatment plans that encompass various natural modalities, including herbal medicine, nutrition, lifestyle modifications, and more.</p>
            </div>
        </div>
        <div class="col-lg-7 col-12 order-lg-1 order-1 mt-0">
            <div class="d-mobile no-d-desktop">
                <div class="home-sec1-title text-center mt-1 mb-0">
                  <div class="text-animate">Our Approach</div>
                </div>
                <span class="title-border title-border-ani-2"></span>
              </div>
            <div class="home-sec6-img">
                <img width="700" class="img-fluid" src="{% static 'images/about-us-4.png' %}" alt="About Naturopathy Image">
            </div>
        </div>
    </div>
    </div>
</section>

<!-- Section 6 -->
<section class="home-section-6 bg-sandal">
    <div class="container-margin section4 py-5">
    <div class="row align-items-center g-0 g-lg-5">
        <div class="col-lg-5 col-12 order-lg-1 order-2 mt-5 mt-lg-0">
            <div class="home-sec-6-top">
                <div class="d-desktop no-d-mobile">
                    <h4 class="home-sec1-title text-center mt-1 mb-0">
                      <div class="text-animate">Meet our team</div>
                    </h4>
                    <span class="title-border title-border-ani-1"></span>
                </div>
                <p class="our-story-para font-avenir-light text-start text-lg-center">Our dedicated team consists of licensed Naturopathic doctors and certified practitioners who are deeply passionate about accompanying you on your unique wellness journey. Committed to continual education and staying at the forefront of advancements in Natural medicine, our experts are devoted to providing you with the highest standard of care.</p>
                <p class="our-story-para font-avenir-light text-start text-lg-center">Recognizing the intricate interplay between our bodies, the environment, and our lifestyles, our doctors adopt a whole-person approach to health. It's through this comprehensive perspective that we aim to restore balance and vitality, promoting lasting health and well-being.</p>
                <p class="our-story-para font-avenir-light text-start text-lg-center mb-0">At Antara, our mission is to empower you to thrive in health and vitality by embracing a holistic view of wellness. We believe in the synergy between the body, mind, and spirit and strive to guide you towards achieving harmony in all aspects of your life.</p>
            </div>
        </div>
        <div class="col-lg-7 col-12 order-lg-2 order-1 mt-0">
            <div class="d-mobile no-d-desktop">
                <div class="home-sec1-title text-center mt-1 mb-0">
                  <div class="text-animate">Meet our team</div>
                </div>
                <span class="title-border title-border-ani-2"></span>
              </div>
            <div class="home-sec6-img">
                <img width="700" class="img-fluid" src="{% static 'images/meet-our-team.png' %}" alt="About Naturopathy Image">
            </div>
        </div>
    </div>
    </div>
</section>

<!-- Enquiry Section -->
<section class="d-flex py-5">
    <div class="container-margin mt-0">
    <div class="home-enq-form mt-0">
        <div class="row justify-content-center">
        <div class="col-lg-6 order-lg-1 order-2">
            <div class="home-enq-title">
            <h4 class="home-enq-title-t mb-4 text-center text-animate">Enquire <span>Us</span></h4>
            <span class="title-border title-border-ani-6"></span>
            </div>
            <form method="POST" action="{% url 'aboutus' %}" class="row g-lg-4 g-3">
                {% csrf_token %}
                <div class="col-md-6">
                  <div class="row g-4">
                    <div class="col-md-12">
                      {{ form.name }}
                    </div>
                    <div class="col-md-12">
                      {{ form.email }}
                    </div>
                    <div class="col-md-12">
                      {{ form.mobile }}
                    </div>
                    <div class="col-md-12">
                      {{ form.gender }}
                    </div>
                    <div class="col-md-12">
                      {{ form.country }}
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row g-4">
                    <div class="col-md-12">
                      {{ form.city }}
                    </div>
                    <div class="col-md-12">
                      {{ form.nationality }}
                    </div>
                    <div class="col-md-12">
                      {{ form.comment }}
                    </div>
                    <div class="col-md-12">
                      {{ form.aboutus }}
                    </div>
                  </div>
                </div>
                {{ form.captcha }}
                {% for error in form.captcha.errors %}
                <p>{{ error }}</p>
                {% endfor %}
                <div class="col-md-12 text-center">
                  <button class="home-enq-submit" type="submit">Submit</button>
                </div>
              </form>
        </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}