{% extends 'base.html' %}
{% load static %}
{% block title %}Detoxification Programs | Antara | Online consultation{% endblock %}
{% block meta-description %}Your Naturopath from India guiding you towards Holistic Wellness. At Antara, we believe in the power of nature to heal and rejuvenate the body, mind, and spirit.{% endblock %}
{% block canonical-link %}https://www.antaracares.com/our-specialities/detoxification-programs{% endblock %}
{% block og-url %}https://www.antaracares.com/static/images/og.jpg{% endblock %}
{% block og-title %}Detoxification Programs | Antara | Online consultation{% endblock %}
{% block og-sitename %}Detoxification Programs | Antara | Online consultation{% endblock %}
{% block og-imgalt %}Detoxification Programs | Antara | Online consultation{% endblock %}
{% block og-description %}Your Naturopath from India guiding you towards Holistic Wellness. At Antara, we believe in the power of nature to heal and rejuvenate the body, mind, and spirit.{% endblock %}
{% block twitter-imgalt %}Detoxification Programs | Antara | Online consultation{% endblock %}
{% block twitter-title %}Detoxification Programs{% endblock %}
{% block twitter-description %}Your Naturopath from India guiding you towards Holistic Wellness. At Antara, we believe in the power of nature to heal and rejuvenate the body, mind, and spirit.{% endblock %}

{% block content %}
<!-- Section 1 -->
<section class="service-nc-sec1">
    <div class="service-dp-section1">
        <div class="service-title">
            <div class="service-title-box">
                <div class="service-title-box-bg">
                    <h1 class="home-sec-1-title text-white text-center mb-0 p-3 text-animate-2">Detoxification Programs</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="service-tab-bg">
    <div class="service-outer-box">
        <div class="service-box">
            <div class="row">
                <div class="col-lg-6 d-flex align-items-center flex-column flex-lg-row">
                    <div
                        class="service-name pe-0 pe-lg-5 mb-3 mb-lg-0 d-flex align-items-center text-center text-lg-center font-avenir-light fw-light">
                        Detoxification Programs</div>
                    {% comment %} <div class="d-flex flex-row my-3 my-lg-0">
                        <div class="px-0 pe-0 pe-lg-5 px-lg-5">
                            <p class="font-avenir-light service-t text-center text-lg-start">LENGTH</p>
                            <p class="mb-0 service-p text-center text-lg-start">From 4 days</p>
                        </div>
                        <div class="px-0 ps-5 px-lg-5">
                            <p class="font-avenir-light service-t">PRICE</p>
                            <p class="mb-0 service-p">₹ 9500</p>
                        </div>
                    </div> {% endcomment %}
                </div>
                <div class="col-lg-6 d-flex justify-content-center justify-content-lg-end flex-column align-items-center flex-lg-row p-0">
                    <a href="https://wa.me/917845518010" title="Chat with us on Whatsapp" class="home-enq-appointment-2 me-0 me-lg-4 mb-2 mb-lg-0"><span class="z-index-1"><i class="fa-brands fa-whatsapp"></i> Whatsapp</span></a>
                    <a href="https://antaracares1.zohobookings.in/#/book-appointment" title="Make an appointment" class="home-enq-appointment-2"><span class="z-index-1"><i
                        class="fa-regular fa-calendar-check pe-2"></i> Online Consultation</span></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Section 2 -->
<section id="our-partners" class="home-section-2">
    <div class="container-margin section1">
        <div class="row">
            <div class="col-12">
                <h2 class="home-sec7-title-t mb-0">
                    <div class="text-center d-desktop no-d-mobile text-animate"><span>Rejuvenate Your Health Naturally</span></div>
                </h2>
                <div class="home-sec7-title-t mb-0">
                    <div class="text-center no-d-desktop d-mobile text-animate"><span>Rejuvenate Your Health<br>Naturally</span></div>
                </div>
                <div class="d-desktop no-d-mobile">
                    <span class="title-border title-border-ani-1"></span>
                </div>
                <div class="d-mobile no-d-desktop">
                    <span class="title-border title-border-ani-1"></span>
                </div>
            </div>
            <div class="col-12">
                <p class="text-start text-lg-center home-sec4-para text-dark mt-4 mb-0 font-avenir-light">At Antara, we recognize the importance of detoxifying the body to promote optimal health and vitality. Our online naturopathic detoxification consultations offer personalized guidance and support to help you embark on a transformative journey towards renewed well-being from the comfort of your own home.</p>
            </div>
        </div>
    </div>
</section>

<!-- Section 4 -->
<section id="home-scroll" class="home-section-6 bg-white pt-5">
    <div class="container-margin section4">
    <div class="row align-items-center g-5 py-5">
        <div class="col-lg-5 col-12 order-lg-2 order-2 mt-5 mt-lg-0">
            <div class="home-sec-6-top">
                <div class="d-desktop no-d-mobile">
                    <h4 class="home-sec6-title text-center mt-1 mb-0">
                      <div class="text-animate">Why Choose<br><span>Online Naturopathic Detoxification<br>Consultations?</span></div>
                    </h4>
                    <div class="d-desktop no-d-mobile">
                        <span class="title-border title-border-ani-1"></span>
                    </div>
                </div>
                <p class="our-story-para font-avenir-light text-start text-lg-center mb-0">Our online consultations provide a convenient and accessible platform to explore detoxification programs that focus on eliminating toxins, supporting the body's natural cleansing processes, and rejuvenating your health. Our experienced naturopathic practitioners offer personalized guidance to help you achieve a balanced and revitalized state.</p>
            </div>
        </div>
        <div class="col-lg-7 col-12 order-lg-1 order-1 mt-0">
            <div class="d-mobile no-d-desktop">
                <div class="home-sec6-title text-center mt-1 mb-0">
                  <div class="text-animate">Why Choose Online Naturopathic<br>Detoxification Consultations?</div>
                </div>
                <div class="d-mobile no-d-desktop">
                    <span class="title-border title-border-ani-2"></span>
                </div>
              </div>
            <div class="home-sec6-img">
                <img width="700" class="img-fluid" src="{% static 'images/about-us-4.png' %}" alt="About Naturopathy Image">
            </div>
        </div>
    </div>
    </div>
</section>

<!-- Section 5 -->
<section class="home-section-6">
    <div class="container-margin section3">
        <div class="row align-items-center g-0 g-lg-5">
            <div class="col-lg-7 col-12 order-lg-1 order-2 mb-5 mb-lg-0">
                <div class="home-sec-6-top">
                    <h4 class="home-sec6-title mt-1 mb-0">
                        <div class="text-animate d-desktop no-d-mobile">What to Expect from Our Online Naturopathic
                            <br>Detoxification Programs Consultation:</div>
                    </h4>
                    <div class="d-desktop no-d-mobile">
                        <span class="title-border-l title-border-ani-3"></span>
                    </div>
                    <ul class="service-list mt-5 font-avenir-light">
                        <li>
                            <p class="home-sec6-para mt-3 mb-0"><strong class="brown">Comprehensive Evaluation:</strong> During the virtual consultation, our skilled naturopathic practitioners will conduct a thorough evaluation of your health history, lifestyle habits, dietary patterns, toxin exposure, and specific detoxification goals.</p>
                        </li>
                        <li>
                            <p class="home-sec6-para mt-3 mb-0"><strong class="brown">Personalized Detox Plan:</strong> Based on the assessment, we create a customized detoxification plan tailored to your individual needs. This plan may include dietary recommendations, nutritional support, herbal remedies, lifestyle adjustments, and techniques to support the body's natural detox pathways.</p>
                        </li>
                        <li>
                            <p class="home-sec6-para mt-3 mb-0"><strong class="brown">Guidance and Support:</strong> Our practitioners will guide you through the detox process, providing education, resources, and ongoing support to help you navigate the program effectively and safely.</p>
                        </li>
                        <li>
                            <p class="home-sec6-para mt-3 mb-0"><strong class="brown">Holistic Well-being:</strong> Our approach focuses not only on detoxifying the body but also on supporting overall wellness. We aim to empower you with tools for maintaining a healthy lifestyle beyond the detox program.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-12 order-lg-2 order-1">
                <div class="service-card-img">
                    <div class="home-sec6-title mt-1 mb-0 text-animate text-center d-mobile no-d-desktop">What to Expect from Our Online<br>Detoxification Programs<br>Consultation:</div>
                    <div class="d-mobile no-d-desktop">
                        <span class="title-border title-border-ani-7"></span>
                    </div>
                    <div class="home-sec6-img">
                        <img width="400" class="img-fluid" src="{% static 'images/service-dt-2.jpg' %}" alt="Naturopathy Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section 6 -->
<section class="home-section-6 bg-transparent">
    <div class="container-margin section4">
        <div class="row align-items-center g-0 g-lg-5">
            <div class="col-lg-7 col-12 order-lg-2 order-2">
                <div class="home-sec-6-top">
                    <h4 class="home-sec6-title mt-1 mb-0">
                        <div class="text-animate d-desktop no-d-mobile">Benefits of Online Naturopathic Detoxification<br>Programs:</div>
                    </h4>
                    <div class="d-desktop no-d-mobile">
                        <span class="title-border-r title-border-ani-4"></span>
                    </div>
                    <ul class="mt-5 font-avenir-light">
                        <li>
                            <p class="home-sec6-para mt-3 mb-0"><strong class="brown">Convenience:</strong> Access detoxification programs and support from anywhere with internet access.</p>
                        </li>
                        <li>
                            <p class="home-sec6-para mt-3 mb-0"><strong class="brown">Personalized Approach:</strong>
                                Tailored detox plans to address your unique health and detoxification goals.</p>
                        </li>
                        <li>
                            <p class="home-sec6-para mt-3 mb-0"><strong class="brown">Toxin Elimination:</strong>
                                Supporting the body's natural processes to eliminate toxins.</p>
                        </li>
                        <li>
                            <p class="home-sec6-para mt-3 mb-0"><strong class="brown">Renewed Vitality:</strong>
                                Promoting increased energy, clearer skin, improved digestion, and overall well-being.
                            </p>
                        </li>
                        <li>
                            <p class="home-sec6-para mt-3 mb-0"><strong class="brown">Empowerment:</strong>
                                Equipping you with tools for maintaining a toxin-free lifestyle.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-12 order-lg-1 order-1">
                <div class="service-card-img">
                    <div class="home-sec6-title text-animate text-center d-mobile no-d-desktop">Benefits of Online Naturopathic<br>Detoxification Programs:</div>
                    <div class="d-mobile no-d-desktop">
                        <span class="title-border title-border-ani-6"></span>
                    </div>
                    <div class="home-sec6-img">
                        <img width="400" class="img-fluid" src="{% static 'images/service-dt-3.jpg' %}"
                            alt="Naturopathy Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section 7 -->
<section id="why-edubest" class="home-section-7 home-section-7-2">
    <div class="container-margin section2 d-flex justify-content-center align-items-center flex-column">
        <div class="home-sec7-para mt-4 service-footer-p">
            <p class="text-center mx-4">Begin your journey towards renewed health and vitality. Schedule an online naturopathic detoxification consultation at Antara and experience the transformative benefits of natural detoxification from the comfort of your home.</p>
        </div>
        <a href="https://antaracares1.zohobookings.in/#/book-appointment" title="Make an appointment" class="home-enq-appointment-2 mt-3"><span class="z-index-1">Book Online Consultation</span></a>
    </div>
</section>

<!-- Our Doctors -->
<section class="home-section-2 py-5">
    <div class="container-margin section1 w-100">
      <div class="row mb-0 mb-lg-5">
        <div class="col-12">
          <h2 class="home-sec7-title-t mb-0">
            <div class="text-center text-animate"><span>Our Doctors</span></div>
          </h2>
          <span class="title-border title-border-ani-2"></span>
        </div>
      </div>
      <div class="service-cards">
        <div class="d-mobile no-d-desktop">
          <div id="owl-carousel-3" class="carousel-single owl-carousel owl-drag owl-theme h-100 p-3">
            <div class="item">
                <div class="card card-shadow mb-3 card-doctor">
                    <div class="card-service-img-h"><div class="card-service-img card-doctor-img-2"></div></div>
                    <div class="card-body">
                      <h3 class="card-title text-center mt-3">Dr. Preethi (BNYS)</h3>
                      <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                      <p class="home-sec4-para text-dark text-center">As the dedicated Director of Antara Cares, Dr. Preethi leads our mission with compassion and expertise, ensuring holistic health for all.</p>
                    </div>
                </div>
            </div>
            <div class="item">
              <div class="card card-shadow mb-3 card-doctor">
                  <div class="card-service-img-h"><div class="card-service-img card-doctor-img-3"></div></div>
                  <div class="card-body">
                    <h3 class="card-title text-center mt-3">Dr. Ramya Babu (BNYS, AFMCP)</h3>
                    <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                    <p class="home-sec4-para text-dark text-center">Specializing in Women's Wellness, Dr. Ramya combines expertise with empathy to address unique health needs, fostering supportive healthcare experiences.</p>
                  </div>
              </div>
            </div>
            <div class="item">
              <div class="card card-shadow mb-3 card-doctor">
                  <div class="card-service-img-h"><div class="card-service-img card-doctor-img-6"></div></div>
                  <div class="card-body">
                    <h3 class="card-title text-center mt-3">Dr. Amirthaselvarajan (BNYS)</h3>
                    <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                    <p class="home-sec4-para text-dark text-center">Renowned for crafting personalized care plans, Dr. Amirthaselvarajan excels in treating Parkinson's and musculoskeletal disorders, enhancing mobility and quality of life.</p>
                  </div>
              </div>
            </div>
            <div class="item">
              <div class="card card-shadow mb-3 card-doctor">
                  <div class="card-service-img-h"><div class="card-service-img card-doctor-img-5"></div></div>
                  <div class="card-body">
                    <h3 class="card-title text-center mt-3">Dr. Gousika Vasudevan (BNYS)</h3>
                    <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                    <p class="home-sec4-para text-dark text-center">A seasoned expert in weight management, Dr. Gousika empowers individuals with personalized strategies for achieving and maintaining optimal weight and health.</p>
                  </div>
              </div>
            </div>
            <div class="item">
              <div class="card card-shadow mb-3 card-doctor">
                  <div class="card-service-img-h"><div class="card-service-img card-doctor-img-1"></div></div>
                  <div class="card-body">
                    <h3 class="card-title text-center mt-3">Dr. Hamid (BNYS)</h3>
                    <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                    <p class="home-sec4-para text-dark text-center">A versatile consultant specializing in gut health and autoimmune disorders, Dr. Hamid offers tailored solutions for holistic well-being.</p>
                  </div>
              </div>
            </div>
            <div class="item">
              <div class="card card-shadow mb-3 card-doctor">
                  <div class="card-service-img-h"><div class="card-service-img card-doctor-img-8"></div></div>
                  <div class="card-body">
                    <h3 class="card-title text-center mt-3">Dr. Durai Viswa (BNYS)</h3>
                    <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                    <p class="home-sec4-para text-dark text-center">With expertise in lifestyle disorders, Dr. Durai Viswa guides individuals on personalized journeys towards sustained well-being, fostering positive transformations in health and lifestyle.</p>
                  </div>
              </div>
            </div>
            {% comment %} <div class="item">
              <div class="card card-shadow mb-3 card-doctor">
                  <div class="card-service-img-h"><div class="card-service-img card-doctor-img-1"></div></div>
                  <div class="card-body">
                    <h3 class="card-title text-center mt-3">Dr. Ellakya</h3>
                    <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                  </div>
              </div>
            </div> {% endcomment %}
            {% comment %} <div class="item">
              <div class="card card-shadow mb-3 card-doctor">
                  <div class="card-service-img-h"><div class="card-service-img card-doctor-img-1"></div></div>
                  <div class="card-body">
                    <h3 class="card-title text-center mt-3">Dr. Sudharshan</h3>
                    <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                  </div>
              </div>
          </div> {% endcomment %}
          </div>
        </div>
        <div class="d-desktop no-d-mobile">
          <div class="row justify-content-center g-5">
            <div class="col-lg-4">
              <div class="card card-shadow mb-3 card-doctor">
                <div class="card-service-img-h"><div class="card-service-img card-doctor-img-2"></div></div>
                <div class="card-body">
                  <h3 class="card-title text-center mt-3">Dr. Preethi (BNYS)</h3>
                  <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                  <p class="home-sec4-para text-dark text-center">As the dedicated Director of Antara Cares, Dr. Preethi leads our mission with compassion and expertise, ensuring holistic health for all.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-shadow mb-3 card-doctor">
                <div class="card-service-img-h"><div class="card-service-img card-doctor-img-3"></div></div>
                <div class="card-body">
                  <h3 class="card-title text-center mt-3">Dr. Ramya Babu (BNYS, AFMCP)</h3>
                  <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                  <p class="home-sec4-para text-dark text-center">Specializing in Women's Wellness, Dr. Ramya combines expertise with empathy to address unique health needs, fostering supportive healthcare experiences.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-shadow mb-3 card-doctor">
                <div class="card-service-img-h"><div class="card-service-img card-doctor-img-6"></div></div>
                <div class="card-body">
                  <h3 class="card-title text-center mt-3">Dr. Amirthaselvarajan (BNYS)</h3>
                  <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                  <p class="home-sec4-para text-dark text-center">Renowned for crafting personalized care plans, Dr. Amirthaselvarajan excels in treating Parkinson's and musculoskeletal disorders, enhancing mobility and quality of life.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-shadow mb-3 card-doctor">
                <div class="card-service-img-h"><div class="card-service-img card-doctor-img-5"></div></div>
                <div class="card-body">
                  <h3 class="card-title text-center mt-3">Dr. Gousika Vasudevan (BNYS)</h3>
                  <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                  <p class="home-sec4-para text-dark text-center">A seasoned expert in weight management, Dr. Gousika empowers individuals with personalized strategies for achieving and maintaining optimal weight and health.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-shadow mb-3 card-doctor">
                  <div class="card-service-img-h"><div class="card-service-img card-doctor-img-1"></div></div>
                  <div class="card-body">
                    <h3 class="card-title text-center mt-3">Dr. Hamid (BNYS)</h3>
                    <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                    <p class="home-sec4-para text-dark text-center">A versatile consultant specializing in gut health and autoimmune disorders, Dr. Hamid offers tailored solutions for holistic well-being. </p>
                  </div>
                </div>
              </div>
              {% comment %} <div class="col-lg-3">
                <div class="card card-shadow mb-3 card-doctor">
                  <div class="card-service-img-h"><div class="card-service-img card-doctor-img-1"></div></div>
                  <div class="card-body">
                    <h3 class="card-title text-center mt-3">Dr. Ellakya</h3>
                    <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                  </div>
                </div>
              </div> {% endcomment %}
              <div class="col-lg-4">
                <div class="card card-shadow mb-3 card-doctor">
                  <div class="card-service-img-h"><div class="card-service-img card-doctor-img-8"></div></div>
                  <div class="card-body">
                    <h3 class="card-title text-center mt-3">Dr. Durai Viswa (BNYS)</h3>
                    <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                    <p class="home-sec4-para text-dark text-center">With expertise in lifestyle disorders, Dr. Durai Viswa guides individuals on personalized journeys towards sustained well-being, fostering positive transformations in health and lifestyle.</p>
                  </div>
                </div>
              </div>
              {% comment %} <div class="col-lg-3">
                <div class="card card-shadow mb-3 card-doctor">
                  <div class="card-service-img-h"><div class="card-service-img card-doctor-img-1"></div></div>
                  <div class="card-body">
                    <h3 class="card-title text-center mt-3">Dr. Sudharshan</h3>
                    <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                  </div>
                </div>
              </div> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- Enquiry Section -->
<section id="contact-us" class="home-enquiry-section">
    {% comment %} <div class="home-enq-img text-end no-d-desktop d-mobile">
        <img class="img-fluid home-enq-img-1" src="{% static 'images/home-enq-img.png' %}" alt="Enquiry Image">
    </div> {% endcomment %}
    <div class="container-margin-l container-margin-enq mt-4">
        <div class="home-enq-title">
            <h4 class="home-enq-title-t text-animate">Enquire <span>Us</span></h4>
            <span class="title-border-l title-border-ani-5"></span>
        </div>
        <div class="home-enq-form mt-5">
            <div class="row">
                <div class="col-lg-7 order-lg-1 order-2">
                    <form method="POST" action="{% url 'servicedp' %}" class="row g-lg-4 g-3">
                        {% csrf_token %}
                        <div class="col-md-6">
                            {{ form.firstname }}
                        </div>
                        <div class="col-md-6">
                            {{ form.lastname }}
                        </div>
                        <div class="col-md-12">
                            {{ form.email }}
                        </div>
                        <div class="col-md-12">
                            {{ form.comment }}
                        </div>
                        {{ form.captcha }}
                        {% for error in form.captcha.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-lg-9 col-12">
                                    <p class="home-enq-desc">By clicking the Submit button near, you agree to
                                        receive communications via Email/Call/WhatsApp/SMS from Antara about this
                                        service.</p>
                                </div>
                                <div class="col-lg-3 col-12 text-center">
                                    <button class="home-enq-submit" type="submit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="enq-footer mt-5">
                        <div class="d-flex align-items-center justify-content-between flex-column flex-lg-row">
                            <a href="https://wa.me/917845518010" title="Chat with us on Whatsapp" target="blank" class="home-enq-appointment-2 mb-3 mb-lg-0"><span class="z-index-1"><i
                                class="fa-brands fa-whatsapp pe-2"></i> Whatsapp</span></a>
                            <a href="https://antaracares1.zohobookings.in/#/book-appointment" title="Make an appointment" class="home-enq-appointment-2"><span class="z-index-1"><i
                                class="fa-regular fa-calendar-check pe-2"></i> Online Consultation</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 order-lg-2 order-1 g-0 d-desktop no-d-mobile">
                    <div class="home-enq-img text-end">
                        <img class="img-fluid home-enq-img-1" src="{% static 'images/home-enq-img.png' %}"
                            alt="Enquiry Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}