{% extends 'base.html' %}
{% load static %}
{% block title %}Yoga Consultation | Antara | Online consultation{% endblock %}
{% block meta-description %}Your Naturopath from India guiding you towards Holistic Wellness. At Antara, we believe in the power of nature to heal and rejuvenate the body, mind, and spirit.{% endblock %}
{% block canonical-link %}https://www.antaracares.com/our-specialities/yoga-consultations{% endblock %}
{% block og-url %}https://www.antaracares.com/static/images/og.jpg{% endblock %}
{% block og-title %}Yoga Consultation | Antara | Online consultation{% endblock %}
{% block og-sitename %}Yoga Consultation | Antara | Online consultation{% endblock %}
{% block og-imgalt %}Yoga Consultation | Antara | Online consultation{% endblock %}
{% block og-description %}Your Naturopath from India guiding you towards Holistic Wellness. At Antara, we believe in the power of nature to heal and rejuvenate the body, mind, and spirit.{% endblock %}
{% block twitter-imgalt %}Yoga Consultation | Antara | Online consultation{% endblock %}
{% block twitter-title %}Yoga Consultation{% endblock %}
{% block twitter-description %}Your Naturopath from India guiding you towards Holistic Wellness. At Antara, we believe in the power of nature to heal and rejuvenate the body, mind, and spirit.{% endblock %}

{% block content %}
<!-- Section 1 -->
<section class="service-nc-sec1">
    <div class="service-yt-section1">
        <div class="service-title">
            <div class="service-title-box">
                <div class="service-title-box-bg">
                    <h1 class="home-sec-1-title text-white text-center mb-0 p-3 text-animate-2">Yoga Consultation</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="service-tab-bg">
    <div class="service-outer-box">
        <div class="service-box">
            <div class="row justify-content-center">
                <div class="col-lg-7 d-flex align-items-center flex-column flex-lg-row">
                    <div
                        class="service-name pe-0 pe-lg-3 d-flex align-items-center service-border-2 text-start text-lg-center font-avenir-light fw-light">
                        Yoga Consultation </div>
                    <div class="flex-row mx-0 my-3 my-lg-0 align-items-center">
                        <div class="px-0 pe-3 px-lg-3 service-border">
                            <p class="font-avenir-light service-t">LENGTH</p>
                            <p class="mb-0 service-p">30 mins</p>
                        </div>
                        <div class="px-0 ps-3 px-lg-3">
                            <p class="font-avenir-light service-t">PRICE</p>
                            <p class="mb-0 service-p d-flex flex-lg-row flex-column px-0 macbook">₹ 650</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 d-flex justify-content-center justify-content-lg-end flex-column align-items-center flex-lg-row p-0">
                    <a href="https://wa.me/917845518010" title="Chat with us on Whatsapp" class="home-enq-appointment-2 me-0 me-lg-1 mb-2 mb-lg-0"><span class="z-index-1"><i class="fa-brands fa-whatsapp"></i> Whatsapp</span></a>
                    <a href="https://antaracares1.zohobookings.in/#/book-appointment" title="Make an appointment" class="home-enq-appointment-2"><span class="z-index-1"><i
                        class="fa-regular fa-calendar-check pe-2"></i> Online Consultation</span></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Section 2 -->
<section id="our-partners" class="home-section-2 pb-5">
    <div class="container-margin section1">
        <div class="row justify-content-center">
            <div class="col-12">
                <h2 class="home-sec7-title-t mb-0">
                    <div class="text-center d-desktop no-d-mobile text-animate"><span>Welcome to Antara’s<br>Yoga Club</span></div>
                </h2>
                <div class="home-sec7-title-t mb-0">
                    <div class="text-center no-d-desktop d-mobile text-animate"><span>Welcome to Antara’s Yoga<br>Club</span></div>
                </div>
                <div class="d-desktop no-d-mobile">
                    <span class="title-border title-border-ani-1"></span>
                </div>
                <div class="d-mobile no-d-desktop">
                    <span class="title-border title-border-ani-1"></span>
                </div>
            </div>
            <div class="col-lg-8">
                <p class="text-start text-lg-center home-sec4-para text-dark mt-4 font-avenir-light">At Antara, we believe in the transformative power of yoga, catering to individuals seeking a holistic approach to health, wellness, and inner peace. Our online yoga consultation service is designed to bring the benefits of yoga directly to you, wherever you are in the world.</p>
                {% comment %} <p class="text-start text-lg-center home-sec4-para text-dark mt-4 font-avenir-light"><strong>Single Consultation:</strong><br>Experience 45 min Yoga consultation with our doctors.</p>
                <p class="text-start text-lg-center home-sec4-para text-dark mt-4 font-avenir-light"><strong>Private one - one Yoga session:</strong><br>Indulge in the luxury of personalized monthly one-on-one online yoga sessions, tailored to your everyday schedule and wellness goals. Elevate your practice, nurture your body, and find balance from the comfort of your home every day, at your convenience. Our doctors are there for you.</p>
                <p class="text-start text-lg-center home-sec4-para text-dark mt-4 mb-0 font-avenir-light"><strong>Group Yoga session:</strong><br>Join our enriching monthly online group yoga sessionns designed for community wellness at fixed timings every day. At a fixed time slot, experience the power of collective practice while fostering well-being and harmony in a supportive virtual environment every day.</p> {% endcomment %}
            </div>
        </div>
    </div>
</section>

<!-- Section 2 -->
{% comment %} <section class="home-section-2 bg-sandal py-5">
    <div class="container-margin section1 w-100">
      <div class="row mb-0 mb-lg-5">
        <div class="col-12">
          <h2 class="home-sec7-title-t mb-0">
            <div class="text-center text-animate"><span>Rates</span></div>
          </h2>
          <span class="title-border title-border-ani-2"></span>
        </div>
        <!-- <div class="col-12">
          <p class="text-center text-lg-center home-sec4-para text-dark mt-4 mb-0 font-avenir-light px-3">Each health speciality has been created to achieve an optimal level of physical and mental well-being.</p>
        </div> -->
      </div>
      <div class="service-cards">
        <div class="d-mobile no-d-desktop">
          <div id="owl-carousel-4" class="carousel-single owl-carousel owl-drag owl-theme h-100 p-3">
            <div class="item">
              <div class="card card-shadow card-anime mb-3">
                <a class="card-service-img-h d-flex justify-content-center" style="align-items: flex-start;" href="https://antaracares1.zohobookings.in/#/book-appointment"><img class="img-fluid rates-icon p-3" src="{% static 'images/yoga-icon.png' %}" alt="Icon"></a>
                <div class="card-body rates-body">
                  <h5 class="card-title text-center mt-3">Yoga Consultations</h5>
                  <p class="home-sec4-para text-dark text-center">Experience our personalized online yoga consultation for 45 minutes followed by opting for one of our monthly sessions.</p>
                  <p class="card-title text-center mb-3">INR 650</p>
                  <a href="https://antaracares1.zohobookings.in/#/book-appointment" class="service-btn"><span style="z-index: 1;position: relative;">Appointment</span></a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="card card-shadow card-anime mb-3">
                <a class="card-service-img-h d-flex justify-content-center" style="align-items: flex-start;" href="https://antaracares1.zohobookings.in/#/book-appointment"><img class="img-fluid rates-icon p-3" src="{% static 'images/group-icon.png' %}" alt="Icon"></a>
                <div class="card-body rates-body">
                  <h5 class="card-title text-center mt-3">Group Yoga Sessions</span></h5>
                  <p class="home-sec4-para text-dark text-center">Join our monthly online group yoga sessions for rejuvenation and well-being at our fixed time slots hosted by our doctors.</p>
                  <p class="card-title text-center mb-3">INR 5000/month</p>
                  <a href="https://antaracares1.zohobookings.in/#/book-appointment" class="service-btn"><span style="z-index: 1;position: relative;">Appointment</span></a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="card card-shadow card-anime mb-3">
                <a class="card-service-img-h d-flex justify-content-center" style="align-items: flex-start;" href="https://antaracares1.zohobookings.in/#/book-appointment"><img class="img-fluid rates-icon p-3" src="{% static 'images/private-icon.png' %}" alt="Icon"></a>
                <div class="card-body rates-body">
                  <h5 class="card-title text-center mt-3">Private Yoga Sessions</span></h5>
                  <p class="home-sec4-para text-dark text-center">Indulge in personalized monthly private yoga sessions online for holistic well-being at your preferred timing, our doctors are here for you.</p>
                  <p class="card-title text-center mb-3">INR 10,000/month</p>
                  <a href="https://antaracares1.zohobookings.in/#/book-appointment" class="service-btn"><span style="z-index: 1;position: relative;">Appointment</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-desktop no-d-mobile">
          <div class="row justify-content-center g-5">
            <div class="col-lg-4">
              <div class="card card-shadow card-anime mb-3">
                <a class="card-service-img-h d-flex justify-content-center" href="https://antaracares1.zohobookings.in/#/book-appointment"><img class="img-fluid rates-icon p-3" src="{% static 'images/yoga-icon.png' %}" alt="Icon"></a>
                <div class="card-body rates-body">
                  <h5 class="card-title text-center mt-3">Yoga Consultations</h5>
                  <p class="home-sec4-para text-dark text-center">Experience our personalized online yoga consultation for 45 minutes followed by opting for one of our monthly sessions.</p>
                  <p class="card-title text-center mb-5">INR 650</p>
                  <a href="https://antaracares1.zohobookings.in/#/book-appointment" class="service-btn"><span style="z-index: 1;position: relative;">Appointment</span></a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-shadow card-anime mb-3">
                <a class="card-service-img-h d-flex justify-content-center" href="https://antaracares1.zohobookings.in/#/book-appointment"><img class="img-fluid rates-icon p-3" src="{% static 'images/private-icon.png' %}" alt="Icon"></a>
                <div class="card-body rates-body">
                  <h5 class="card-title text-center mt-3">Private Yoga Sessions</h5>
                  <p class="home-sec4-para text-dark text-center">Indulge in personalized monthly private yoga sessions online for holistic well-being at your preferred timing, our doctors are here for you.</p>
                  <p class="card-title text-center mb-5">INR 10,000/month</p>
                  <a href="https://antaracares1.zohobookings.in/#/book-appointment" class="service-btn"><span style="z-index: 1;position: relative;">Appointment</span></a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-shadow card-anime mb-3">
                <a class="card-service-img-h d-flex justify-content-center" href="https://antaracares1.zohobookings.in/#/book-appointment"><img class="img-fluid rates-icon p-3" src="{% static 'images/group-icon.png' %}" alt="Icon"></a>
                <div class="card-body rates-body">
                  <h5 class="card-title text-center mt-3">Group Yoga Sessions</h5>
                  <p class="home-sec4-para text-dark text-center">Join our monthly online group yoga sessions for rejuvenation and well-being at our fixed time slots hosted by our doctors.</p>
                  <p class="card-title text-center mb-5">INR 5000/month</p>
                  <a href="https://antaracares1.zohobookings.in/#/book-appointment" class="service-btn"><span style="z-index: 1;position: relative;">Appointment</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> {% endcomment %}

<!-- Section 5 -->
<section class="home-section-6 bg-white">
    <div class="container-margin section3">
        <div class="row align-items-center g-0 g-lg-5">
            <div class="col-lg-7 col-12 order-lg-1 order-2 mb-5 mb-lg-0">
                <div class="home-sec-6-top">
                    <h4 class="home-sec6-title mt-1 mb-0">
                        <div class="text-animate d-desktop no-d-mobile">What to Expect from Our Online Yoga Consultations</div>
                    </h4>
                    <div class="d-desktop no-d-mobile">
                        <span class="title-border-l title-border-ani-2"></span>
                    </div>
                    <ul class="service-list mt-5 font-avenir-light">
                        <li>
                            <p class="home-sec6-para mt-3 mb-0"><strong class="brown">Expert-Led Sessions:</strong> Benefit from yoga sessions led by doctors and experienced yoga instructors, ensuring a holistic approach to your well-being.</p>
                        </li>
                        <li>
                            <p class="home-sec6-para mt-3 mb-0"><strong class="brown">Convenience and Flexibility:</strong> Enjoy the flexibility of scheduling sessions at your convenience, while accessing expert guidance and instruction from anywhere with an internet connection.</p>
                        </li>
                        <li>
                            <p class="home-sec6-para mt-3 mb-0"><strong class="brown">Tailored Practice Plans:</strong> Receive personalized yoga practice plans tailored to your specific needs, goals, and any underlying health considerations, ensuring safe and effective participation.</p>
                        </li>
                        <li>
                            <p class="home-sec6-para mt-3 mb-0"><strong class="brown">Comprehensive Support:</strong> Receive guidance, instruction, and ongoing support from our team of expert instructors and healthcare professionals, empowering you to progress confidently in your yoga journey while addressing any health concerns or limitations.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-12 order-lg-2 order-1">
                <div class="service-card-img">
                    <div class="home-sec6-title mt-1 mb-0 text-animate text-center d-mobile no-d-desktop">What to Expect from Our Online<br>Yoga Consultations</div>
                    <div class="d-mobile no-d-desktop">
                        <span class="title-border title-border-ani-3"></span>
                    </div>
                    <div class="home-sec6-img">
                        <img width="400" class="img-fluid" src="{% static 'images/service-yt-2.jpg' %}" alt="Naturopathy Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section 6 -->
<section class="home-section-6 py-5 light-brown">
    <div class="container-margin section4">
        <div class="row align-items-center g-0 g-lg-5">
            <div class="col-lg-7 col-12 order-lg-2 order-2">
                <div class="home-sec-6-top">
                    <h4 class="home-sec6-title mt-1 mb-0">
                        <div class="text-animate d-desktop no-d-mobile">Benefits of Online Yoga Consultations:</div>
                    </h4>
                    <div class="d-desktop no-d-mobile">
                        <span class="title-border-r title-border-ani-4"></span>
                    </div>
                    <ul class="mt-5 font-avenir-light">
                        <li>
                            <p class="home-sec6-para mt-3 mb-0"><strong class="brown">Accessibility:</strong> Access professional yoga instruction from anywhere in the world, bringing the studio to you, and allowing for greater flexibility in your schedule.</p>
                        </li>
                        <li>
                            <p class="home-sec6-para mt-3 mb-0"><strong class="brown">Personalized Approach:</strong>
                                Experience personalized yoga sessions tailored to your skill level, goals, and preferences, ensuring maximum benefit and enjoyment.</p>
                        </li>
                        <li>
                            <p class="home-sec6-para mt-3 mb-0"><strong class="brown">Comfort and Privacy:</strong>
                                Practice yoga in the comfort and privacy of your own space, free from distractions and external pressures.</p>
                        </li>
                        <li>
                            <p class="home-sec6-para mt-3 mb-0"><strong class="brown">Continuity of Practice:</strong>
                                Maintain consistency in your yoga practice with regular sessions and ongoing support from our instructors, promoting steady progress and improvement.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-12 order-lg-1 order-1">
                <div class="">
                    <div class="home-sec6-title text-animate text-center d-mobile no-d-desktop">Benefits of Online Yoga<br>Consultations:</div>
                    <div class="d-mobile no-d-desktop">
                        <span class="title-border title-border-ani-5"></span>
                    </div>
                    <div class="home-sec6-img">
                        <img width="400" class="img-fluid" src="{% static 'images/service-yt-3.jpg' %}"
                            alt="Naturopathy Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section 4 -->
<section id="why-edubest" class="home-section-7-3">
    <div class="container-margin section2">
        <div class="home-sec7-title">
            <h4 class="home-sec7-title-t">
                <div class="d-desktop no-d-mobile text-animate">
                    Meet Our Experienced Doctors:
                </div>
                <div class="text-center d-mobile no-d-desktop text-animate">
                    Meet Our Experienced<br>Instructors:
                </div>
            </h4>
            <span class="title-border title-border-ani-6"></span>
        </div>
        <div class="home-sec7-para mt-4">
            <p class="home-sec7-desc mx-0 mx-lg-4 font-avenir-light">Our team comprises highly skilled and passionate yoga instructors who are committed to helping you achieve your wellness goals. They bring a wealth of knowledge, experience, and compassion to each session.</p>
        </div>
    </div>
</section>

<!-- Section 7 -->
<section id="why-edubest" class="home-section-7 home-section-7-2 py-5">
    <div class="container-margin section2 d-flex justify-content-center align-items-center flex-column">
        <div class="home-sec7-para mt-4 service-footer-p">
            <h4 class="home-sec7-title-t mb-3">
                <div class="d-desktop no-d-mobile text-animate">
                    Get Started Today:
                </div>
                <div class="text-center d-mobile no-d-desktop text-animate">
                    Get Started Today:
                </div>
            </h4>
            <span class="title-border title-border-ani-7"></span>
            <div class="text-center mx-4">
                <p>Embark on a journey towards improved well-being and balance. Book your online yoga consultation session today and take the first step toward a healthier, more mindful lifestyle.</p>
                <p>Join Antara Yoga club and experience the transformative benefits of yoga from the comfort of your own space.</p>
            </div>
        </div>
        <a href="https://antaracares1.zohobookings.in/#/book-appointment" title="Make an appointment" class="home-enq-appointment-2 mt-3"><span class="z-index-1">Book Online Consultation</span></a>
    </div>
</section>

<!-- Our Doctors -->
<section class="home-section-2 py-5">
    <div class="container-margin section1 w-100">
      <div class="row mb-0 mb-lg-5">
        <div class="col-12">
          <h2 class="home-sec7-title-t mb-0">
            <div class="text-center text-animate"><span>Our Doctors</span></div>
          </h2>
          <span class="title-border title-border-ani-2"></span>
        </div>
      </div>
      <div class="service-cards">
        <div class="d-mobile no-d-desktop">
          <div id="owl-carousel-3" class="carousel-single owl-carousel owl-drag owl-theme h-100 p-3">
            <div class="item">
                <div class="card card-shadow mb-3 card-doctor">
                    <div class="card-service-img-h"><div class="card-service-img card-doctor-img-2"></div></div>
                    <div class="card-body">
                      <h3 class="card-title text-center mt-3">Dr. Preethi (BNYS)</h3>
                      <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                      <p class="home-sec4-para text-dark text-center">As the dedicated Director of Antara Cares, Dr. Preethi leads our mission with compassion and expertise, ensuring holistic health for all.</p>
                    </div>
                </div>
            </div>
            <div class="item">
              <div class="card card-shadow mb-3 card-doctor">
                  <div class="card-service-img-h"><div class="card-service-img card-doctor-img-3"></div></div>
                  <div class="card-body">
                    <h3 class="card-title text-center mt-3">Dr. Ramya Babu (BNYS, AFMCP)</h3>
                    <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                    <p class="home-sec4-para text-dark text-center">Specializing in Women's Wellness, Dr. Ramya combines expertise with empathy to address unique health needs, fostering supportive healthcare experiences.</p>
                  </div>
              </div>
            </div>
            <div class="item">
              <div class="card card-shadow mb-3 card-doctor">
                  <div class="card-service-img-h"><div class="card-service-img card-doctor-img-6"></div></div>
                  <div class="card-body">
                    <h3 class="card-title text-center mt-3">Dr. Amirthaselvarajan (BNYS)</h3>
                    <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                    <p class="home-sec4-para text-dark text-center">Renowned for crafting personalized care plans, Dr. Amirthaselvarajan excels in treating Parkinson's and musculoskeletal disorders, enhancing mobility and quality of life.</p>
                  </div>
              </div>
            </div>
            <div class="item">
              <div class="card card-shadow mb-3 card-doctor">
                  <div class="card-service-img-h"><div class="card-service-img card-doctor-img-5"></div></div>
                  <div class="card-body">
                    <h3 class="card-title text-center mt-3">Dr. Gousika Vasudevan (BNYS)</h3>
                    <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                    <p class="home-sec4-para text-dark text-center">A seasoned expert in weight management, Dr. Gousika empowers individuals with personalized strategies for achieving and maintaining optimal weight and health.</p>
                  </div>
              </div>
            </div>
            <div class="item">
              <div class="card card-shadow mb-3 card-doctor">
                  <div class="card-service-img-h"><div class="card-service-img card-doctor-img-1"></div></div>
                  <div class="card-body">
                    <h3 class="card-title text-center mt-3">Dr. Hamid (BNYS)</h3>
                    <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                    <p class="home-sec4-para text-dark text-center">A versatile consultant specializing in gut health and autoimmune disorders, Dr. Hamid offers tailored solutions for holistic well-being.</p>
                  </div>
              </div>
            </div>
            <div class="item">
              <div class="card card-shadow mb-3 card-doctor">
                  <div class="card-service-img-h"><div class="card-service-img card-doctor-img-8"></div></div>
                  <div class="card-body">
                    <h3 class="card-title text-center mt-3">Dr. Durai Viswa (BNYS)</h3>
                    <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                    <p class="home-sec4-para text-dark text-center">With expertise in lifestyle disorders, Dr. Durai Viswa guides individuals on personalized journeys towards sustained well-being, fostering positive transformations in health and lifestyle.</p>
                  </div>
              </div>
            </div>
            {% comment %} <div class="item">
              <div class="card card-shadow mb-3 card-doctor">
                  <div class="card-service-img-h"><div class="card-service-img card-doctor-img-1"></div></div>
                  <div class="card-body">
                    <h3 class="card-title text-center mt-3">Dr. Ellakya</h3>
                    <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                  </div>
              </div>
            </div> {% endcomment %}
            {% comment %} <div class="item">
              <div class="card card-shadow mb-3 card-doctor">
                  <div class="card-service-img-h"><div class="card-service-img card-doctor-img-1"></div></div>
                  <div class="card-body">
                    <h3 class="card-title text-center mt-3">Dr. Sudharshan</h3>
                    <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                  </div>
              </div>
          </div> {% endcomment %}
          </div>
        </div>
        <div class="d-desktop no-d-mobile">
          <div class="row justify-content-center g-5">
            <div class="col-lg-4">
              <div class="card card-shadow mb-3 card-doctor">
                <div class="card-service-img-h"><div class="card-service-img card-doctor-img-2"></div></div>
                <div class="card-body">
                  <h3 class="card-title text-center mt-3">Dr. Preethi (BNYS)</h3>
                  <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                  <p class="home-sec4-para text-dark text-center">As the dedicated Director of Antara Cares, Dr. Preethi leads our mission with compassion and expertise, ensuring holistic health for all.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-shadow mb-3 card-doctor">
                <div class="card-service-img-h"><div class="card-service-img card-doctor-img-3"></div></div>
                <div class="card-body">
                  <h3 class="card-title text-center mt-3">Dr. Ramya Babu (BNYS, AFMCP)</h3>
                  <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                  <p class="home-sec4-para text-dark text-center">Specializing in Women's Wellness, Dr. Ramya combines expertise with empathy to address unique health needs, fostering supportive healthcare experiences.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-shadow mb-3 card-doctor">
                <div class="card-service-img-h"><div class="card-service-img card-doctor-img-6"></div></div>
                <div class="card-body">
                  <h3 class="card-title text-center mt-3">Dr. Amirthaselvarajan (BNYS)</h3>
                  <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                  <p class="home-sec4-para text-dark text-center">Renowned for crafting personalized care plans, Dr. Amirthaselvarajan excels in treating Parkinson's and musculoskeletal disorders, enhancing mobility and quality of life.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-shadow mb-3 card-doctor">
                <div class="card-service-img-h"><div class="card-service-img card-doctor-img-5"></div></div>
                <div class="card-body">
                  <h3 class="card-title text-center mt-3">Dr. Gousika Vasudevan (BNYS)</h3>
                  <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                  <p class="home-sec4-para text-dark text-center">A seasoned expert in weight management, Dr. Gousika empowers individuals with personalized strategies for achieving and maintaining optimal weight and health.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-shadow mb-3 card-doctor">
                  <div class="card-service-img-h"><div class="card-service-img card-doctor-img-1"></div></div>
                  <div class="card-body">
                    <h3 class="card-title text-center mt-3">Dr. Hamid (BNYS)</h3>
                    <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                    <p class="home-sec4-para text-dark text-center">A versatile consultant specializing in gut health and autoimmune disorders, Dr. Hamid offers tailored solutions for holistic well-being. </p>
                  </div>
                </div>
              </div>
              {% comment %} <div class="col-lg-3">
                <div class="card card-shadow mb-3 card-doctor">
                  <div class="card-service-img-h"><div class="card-service-img card-doctor-img-1"></div></div>
                  <div class="card-body">
                    <h3 class="card-title text-center mt-3">Dr. Ellakya</h3>
                    <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                  </div>
                </div>
              </div> {% endcomment %}
              <div class="col-lg-4">
                <div class="card card-shadow mb-3 card-doctor">
                  <div class="card-service-img-h"><div class="card-service-img card-doctor-img-8"></div></div>
                  <div class="card-body">
                    <h3 class="card-title text-center mt-3">Dr. Durai Viswa (BNYS)</h3>
                    <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                    <p class="home-sec4-para text-dark text-center">With expertise in lifestyle disorders, Dr. Durai Viswa guides individuals on personalized journeys towards sustained well-being, fostering positive transformations in health and lifestyle.</p>
                  </div>
                </div>
              </div>
              {% comment %} <div class="col-lg-3">
                <div class="card card-shadow mb-3 card-doctor">
                  <div class="card-service-img-h"><div class="card-service-img card-doctor-img-1"></div></div>
                  <div class="card-body">
                    <h3 class="card-title text-center mt-3">Dr. Sudharshan</h3>
                    <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                  </div>
                </div>
              </div> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- Enquiry Section -->
<section id="contact-us" class="home-enquiry-section">
    {% comment %} <div class="home-enq-img text-end no-d-desktop d-mobile">
        <img class="img-fluid home-enq-img-1" src="{% static 'images/home-enq-img.png' %}" alt="Enquiry Image">
    </div> {% endcomment %}
    <div class="container-margin-l container-margin-enq mt-4">
        <div class="home-enq-title">
            <h4 class="home-enq-title-t text-animate">Enquire <span>Us</span></h4>
            <span class="title-border-l title-border-ani-8"></span>
        </div>
        <div class="home-enq-form mt-5">
            <div class="row">
                <div class="col-lg-7 order-lg-1 order-2">
                    <form method="POST" action="{% url 'serviceyt' %}" class="row g-lg-4 g-3">
                        {% csrf_token %}
                        <div class="col-md-6">
                            {{ form.firstname }}
                        </div>
                        <div class="col-md-6">
                            {{ form.lastname }}
                        </div>
                        <div class="col-md-12">
                            {{ form.email }}
                        </div>
                        <div class="col-md-12">
                            {{ form.comment }}
                        </div>
                        {{ form.captcha }}
                        {% for error in form.captcha.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-lg-9 col-12">
                                    <p class="home-enq-desc">By clicking the Submit button near, you agree to
                                        receive communications via Email/Call/WhatsApp/SMS from Antara about this
                                        service.</p>
                                </div>
                                <div class="col-lg-3 col-12 text-center">
                                    <button class="home-enq-submit" type="submit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="enq-footer mt-5">
                        <div class="d-flex align-items-center justify-content-between flex-column flex-lg-row">
                            <a href="https://wa.me/917845518010" title="Chat with us on Whatsapp" target="blank" class="home-enq-appointment-2 mb-3 mb-lg-0"><span class="z-index-1"><i
                                class="fa-brands fa-whatsapp pe-2"></i> Whatsapp</span></a>
                            <a href="https://antaracares1.zohobookings.in/#/book-appointment" title="Make an appointment" class="home-enq-appointment-2"><span class="z-index-1"><i
                                class="fa-regular fa-calendar-check pe-2"></i> Online Consultation</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 order-lg-2 order-1 g-0 d-desktop no-d-mobile">
                    <div class="home-enq-img text-end">
                        <img class="img-fluid home-enq-img-1" src="{% static 'images/home-enq-img.png' %}"
                            alt="Enquiry Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}