{% extends 'base.html' %}
{% load static %}
{% block title %}Cardiology Care | Antara | Online consultation{% endblock %}
{% block meta-description %}Your Naturopath from India guiding you towards Holistic Wellness. At Antara, we believe in the power of nature to heal and rejuvenate the body, mind, and spirit.{% endblock %}
{% block canonical-link %}https://www.antaracares.com/our-specialised-cares/women-wellness{% endblock %}
{% block og-url %}https://www.antaracares.com/static/images/og.jpg{% endblock %}
{% block og-title %}Cardiology Care | Antara | Online consultation{% endblock %}
{% block og-sitename %}Cardiology Care | Antara | Online consultation{% endblock %}
{% block og-imgalt %}Cardiology Care | Antara | Online consultation{% endblock %}
{% block og-description %}Your Naturopath from India guiding you towards Holistic Wellness. At Antara, we believe in the power of nature to heal and rejuvenate the body, mind, and spirit.{% endblock %}
{% block twitter-imgalt %}Cardiology Care | Antara | Online consultation{% endblock %}
{% block twitter-title %}Cardiology Care{% endblock %}
{% block twitter-description %}Your Naturopath from India guiding you towards Holistic Wellness. At Antara, we believe in the power of nature to heal and rejuvenate the body, mind, and spirit.{% endblock %}

{% block content %}
<!-- Section 1 -->
<section class="service-nc-sec1">
    <div class="service-ww-section1">
        <div class="service-title">
            <div class="service-title-box">
                <div class="service-title-box-bg">
                    <h1 class="home-sec-1-title text-white text-center mb-0 p-3 text-animate-2">Women Wellness</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="service-tab-bg">
    <div class="service-outer-box">
        <div class="service-box">
            <div class="row">
                <div class="col-lg-6 d-flex align-items-center flex-column flex-lg-row">
                    <div
                        class="service-name pe-0 pe-lg-5 mb-3 mb-lg-0 d-flex align-items-center text-center text-lg-center font-avenir-light fw-light">
                        Women Wellness</div>
                    {% comment %} <div class="d-flex flex-row my-3 my-lg-0">
                        <div class="px-0 pe-0 pe-lg-5 px-lg-5">
                            <p class="font-avenir-light service-t text-center text-lg-start">LENGTH</p>
                            <p class="mb-0 service-p text-center text-lg-start">From 4 days</p>
                        </div>
                        <div class="px-0 ps-5 px-lg-5">
                            <p class="font-avenir-light service-t">PRICE</p>
                            <p class="mb-0 service-p">₹ 9500</p>
                        </div>
                    </div> {% endcomment %}
                </div>
                <div class="col-lg-6 d-flex justify-content-center justify-content-lg-end flex-column align-items-center flex-lg-row p-0">
                    <a href="https://wa.me/917845518010" title="Chat with us on Whatsapp" class="home-enq-appointment-2 me-0 me-lg-4 mb-2 mb-lg-0"><span class="z-index-1"><i class="fa-brands fa-whatsapp"></i> Whatsapp</span></a>
                    <a href="https://antaracares1.zohobookings.in/#/book-appointment" title="Make an appointment" class="home-enq-appointment-2"><span class="z-index-1"><i
                        class="fa-regular fa-calendar-check pe-2"></i> Online Consultation</span></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Section 2 -->
<section id="our-partners" class="home-section-2">
    <div class="container-margin section1">
        <div class="row">
            <div class="col-12">
                <h2 class="home-sec7-title-t mb-0">
                    <div class="text-center d-desktop no-d-mobile text-animate"><span>Naturopathic Women's Wellness Consultation:<br>Nurturing Health at Every Stage</span></div>
                </h2>
                <div class="home-sec7-title-t mb-0">
                    <div class="text-center no-d-desktop d-mobile text-animate"><span>Naturopathic Women's<br>Wellness Consultation:<br>Nurturing Health at Every Stage</span></div>
                </div>
                <div class="d-desktop no-d-mobile">
                    <span class="title-border title-border-ani-1"></span>
                </div>
                <div class="d-mobile no-d-desktop">
                    <span class="title-border title-border-ani-1"></span>
                </div>
            </div>
            <div class="col-12">
                <p class="text-start text-lg-center home-sec4-para text-dark mt-4 mb-0 font-avenir-light">At Antara, we understand the unique health needs of women and offer specialized naturopathic consultations focused on promoting holistic well-being throughout all stages of life. Our team of naturopathic doctors is dedicated to providing personalized and comprehensive care that addresses women's health concerns naturally and effectively.</p>
            </div>
        </div>
    </div>
</section>

<!-- Section 4 -->
<section id="home-scroll" class="home-section-6 bg-white pt-5">
    <div class="container-margin section4">
    <div class="row align-items-center g-5 py-5">
        <div class="col-lg-5 col-12 order-lg-2 order-2 mt-5 mt-lg-0">
            <div class="home-sec-6-top">
                <div class="d-desktop no-d-mobile">
                    <h4 class="home-sec6-title text-center mt-1 mb-0">
                      <div class="text-animate">Why Choose Naturopathic Care for<br>Women's Wellness?</div>
                    </h4>
                    <div class="d-desktop no-d-mobile">
                        <span class="title-border title-border-ani-1"></span>
                    </div>
                </div>
                <p class="our-story-para font-avenir-light text-start text-lg-center mb-0">Naturopathic medicine takes a whole-person approach to women's health, considering physical, emotional, and hormonal factors that may impact well-being. Our consultations integrate traditional naturopathic therapies with modern scientific knowledge, empowering women to achieve optimal health and vitality.</p>
            </div>
        </div>
        <div class="col-lg-7 col-12 order-lg-1 order-1 mt-0">
            <div class="d-mobile no-d-desktop">
                <div class="home-sec6-title text-center mt-1 mb-0">
                  <div class="text-animate">Why Choose<br>Naturopathic Care for Women's Wellness?</div>
                </div>
                <div class="d-mobile no-d-desktop">
                    <span class="title-border title-border-ani-2"></span>
                </div>
              </div>
            <div class="home-sec6-img">
                <img width="700" class="img-fluid" src="{% static 'images/about-us-4.png' %}" alt="About Naturopathy Image">
            </div>
        </div>
    </div>
    </div>
</section>

<!-- Section 5 -->
<section class="home-section-6">
    <div class="container-margin section3">
        <div class="row align-items-center g-0 g-lg-5">
            <div class="col-lg-7 col-12 order-lg-1 order-2 mb-5 mb-lg-0">
                <div class="home-sec-6-top">
                    <h4 class="home-sec6-title mt-1 mb-0">
                        <div class="text-animate d-desktop no-d-mobile">What to Expect from Our Naturopathic
                            <br>Women's Wellness Consultation:</div>
                    </h4>
                    <div class="d-desktop no-d-mobile">
                        <span class="title-border-l title-border-ani-3"></span>
                    </div>
                    <ul class="service-list mt-5 font-avenir-light">
                        <li>
                            <p class="home-sec6-para mt-3 mb-0"><strong class="brown">Comprehensive Evaluation:</strong> Our experienced naturopathic doctors conduct a thorough assessment of your health history, lifestyle, nutritional status, hormonal balance, reproductive health, and any specific concerns or symptoms you may have.</p>
                        </li>
                        <li>
                            <p class="home-sec6-para mt-3 mb-0"><strong class="brown">Personalized Health Plan: :</strong> Based on your assessment, we create a tailored health plan that may include dietary recommendations, nutritional supplements, herbal medicine, hormonal balancing techniques, lifestyle adjustments, stress management strategies, and more.</p>
                        </li>
                        <li>
                            <p class="home-sec6-para mt-3 mb-0"><strong class="brown">Hormonal Health Support:</strong> We provide natural approaches to support hormonal balance, and address menstrual irregularities, menopausal symptoms, fertility concerns, and other hormonal imbalances affecting women's health.</p>
                        </li>
                        <li>
                            <p class="home-sec6-para mt-3 mb-0"><strong class="brown">Holistic Wellness:</strong> Our approach emphasizes overall wellness, encompassing physical, emotional, and mental health. We aim to support women in achieving balance, vitality, and optimal health in every aspect of their lives.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-12 order-lg-2 order-1">
                <div class="service-card-img">
                    <div class="home-sec6-title mt-1 mb-0 text-animate text-center d-mobile no-d-desktop">What to Expect from Our<br>Naturopathic Women's Wellness<br>Consultation:</div>
                    <div class="d-mobile no-d-desktop">
                        <span class="title-border title-border-ani-4"></span>
                    </div>
                    <div class="home-sec6-img">
                        <img width="400" class="img-fluid" src="{% static 'images/service-ww-2.jpg' %}" alt="Naturopathy Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section 6 -->
<section class="home-section-6 bg-transparent">
    <div class="container-margin section4">
        <div class="row align-items-center g-0 g-lg-5">
            <div class="col-lg-7 col-12 order-lg-2 order-2">
                <div class="home-sec-6-top">
                    <h4 class="home-sec6-title mt-1 mb-0">
                        <div class="text-animate d-desktop no-d-mobile">Benefits of Naturopathic Women's Wellness<br>Care:</div>
                    </h4>
                    <div class="d-desktop no-d-mobile">
                        <span class="title-border-r title-border-ani-5"></span>
                    </div>
                    <ul class="mt-5 font-avenir-light">
                        <li>
                            <p class="home-sec6-para mt-3 mb-0"><strong class="brown">Personalized Care:</strong> Tailored plans to address individual health needs</p>
                        </li>
                        <li>
                            <p class="home-sec6-para mt-3 mb-0"><strong class="brown">Hormonal Balance:</strong>
                                Natural approaches to support hormonal health and balance.</p>
                        </li>
                        <li>
                            <p class="home-sec6-para mt-3 mb-0"><strong class="brown">Empowerment:</strong>
                                Equipping women with tools for managing various life stages.</p>
                        </li>
                        <li>
                            <p class="home-sec6-para mt-3 mb-0"><strong class="brown">Whole-Person Care:</strong>
                                Considering emotional, mental, and physical well-being.
                            </p>
                        </li>
                        <li>
                            <p class="home-sec6-para mt-3 mb-0"><strong class="brown">Preventative Focus:</strong>
                                Strategies to promote long-term health and wellness.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-12 order-lg-1 order-1">
                <div class="service-card-img">
                    <div class="home-sec6-title text-animate text-center d-mobile no-d-desktop">Benefits of Naturopathic Women's<br>Wellness Care:</div>
                    <div class="d-mobile no-d-desktop">
                        <span class="title-border title-border-ani-6"></span>
                    </div>
                    <div class="home-sec6-img">
                        <img width="400" class="img-fluid" src="{% static 'images/service-ww-3.jpg' %}"
                            alt="Naturopathy Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section 7 -->
<section id="why-edubest" class="home-section-7 home-section-7-2">
    <div class="container-margin section2 d-flex justify-content-center align-items-center flex-column">
        <div class="home-sec7-para mt-4 service-footer-p">
            <p class="text-center mx-4">Experience personalized care that nurtures your well-being at every stage of life. Schedule a naturopathic women's wellness consultation at Antara and embark on a journey towards vibrant health and vitality.</p>
        </div>
        <a href="https://antaracares1.zohobookings.in/#/book-appointment" title="Make an appointment" class="home-enq-appointment-2 mt-3"><span class="z-index-1">Book Online Consultation</span></a>
    </div>
</section>

<!-- Our Doctors -->
<section class="home-section-2 py-5">
    <div class="container-margin section1 w-100">
      <div class="row mb-0 mb-lg-5">
        <div class="col-12">
          <h2 class="home-sec7-title-t mb-0">
            <div class="text-center text-animate"><span>Our Doctors</span></div>
          </h2>
          <span class="title-border title-border-ani-2"></span>
        </div>
      </div>
      <div class="service-cards">
        <div class="d-mobile no-d-desktop">
          <div id="owl-carousel-3" class="carousel-single owl-carousel owl-drag owl-theme h-100 p-3">
            <div class="item">
                <div class="card card-shadow mb-3 card-doctor">
                    <div class="card-service-img-h"><div class="card-service-img card-doctor-img-2"></div></div>
                    <div class="card-body">
                      <h3 class="card-title text-center mt-3">Dr. Preethi (BNYS)</h3>
                      <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                      <p class="home-sec4-para text-dark text-center">As the dedicated Director of Antara Cares, Dr. Preethi leads our mission with compassion and expertise, ensuring holistic health for all.</p>
                    </div>
                </div>
            </div>
            <div class="item">
              <div class="card card-shadow mb-3 card-doctor">
                  <div class="card-service-img-h"><div class="card-service-img card-doctor-img-3"></div></div>
                  <div class="card-body">
                    <h3 class="card-title text-center mt-3">Dr. Ramya Babu (BNYS, AFMCP)</h3>
                    <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                    <p class="home-sec4-para text-dark text-center">Specializing in Women's Wellness, Dr. Ramya combines expertise with empathy to address unique health needs, fostering supportive healthcare experiences.</p>
                  </div>
              </div>
            </div>
            <div class="item">
              <div class="card card-shadow mb-3 card-doctor">
                  <div class="card-service-img-h"><div class="card-service-img card-doctor-img-6"></div></div>
                  <div class="card-body">
                    <h3 class="card-title text-center mt-3">Dr. Amirthaselvarajan (BNYS)</h3>
                    <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                    <p class="home-sec4-para text-dark text-center">Renowned for crafting personalized care plans, Dr. Amirthaselvarajan excels in treating Parkinson's and musculoskeletal disorders, enhancing mobility and quality of life.</p>
                  </div>
              </div>
            </div>
            <div class="item">
              <div class="card card-shadow mb-3 card-doctor">
                  <div class="card-service-img-h"><div class="card-service-img card-doctor-img-5"></div></div>
                  <div class="card-body">
                    <h3 class="card-title text-center mt-3">Dr. Gousika Vasudevan (BNYS)</h3>
                    <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                    <p class="home-sec4-para text-dark text-center">A seasoned expert in weight management, Dr. Gousika empowers individuals with personalized strategies for achieving and maintaining optimal weight and health.</p>
                  </div>
              </div>
            </div>
            <div class="item">
              <div class="card card-shadow mb-3 card-doctor">
                  <div class="card-service-img-h"><div class="card-service-img card-doctor-img-1"></div></div>
                  <div class="card-body">
                    <h3 class="card-title text-center mt-3">Dr. Hamid (BNYS)</h3>
                    <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                    <p class="home-sec4-para text-dark text-center">A versatile consultant specializing in gut health and autoimmune disorders, Dr. Hamid offers tailored solutions for holistic well-being.</p>
                  </div>
              </div>
            </div>
            <div class="item">
              <div class="card card-shadow mb-3 card-doctor">
                  <div class="card-service-img-h"><div class="card-service-img card-doctor-img-8"></div></div>
                  <div class="card-body">
                    <h3 class="card-title text-center mt-3">Dr. Durai Viswa (BNYS)</h3>
                    <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                    <p class="home-sec4-para text-dark text-center">With expertise in lifestyle disorders, Dr. Durai Viswa guides individuals on personalized journeys towards sustained well-being, fostering positive transformations in health and lifestyle.</p>
                  </div>
              </div>
            </div>
            {% comment %} <div class="item">
              <div class="card card-shadow mb-3 card-doctor">
                  <div class="card-service-img-h"><div class="card-service-img card-doctor-img-1"></div></div>
                  <div class="card-body">
                    <h3 class="card-title text-center mt-3">Dr. Ellakya</h3>
                    <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                  </div>
              </div>
            </div> {% endcomment %}
            {% comment %} <div class="item">
              <div class="card card-shadow mb-3 card-doctor">
                  <div class="card-service-img-h"><div class="card-service-img card-doctor-img-1"></div></div>
                  <div class="card-body">
                    <h3 class="card-title text-center mt-3">Dr. Sudharshan</h3>
                    <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                  </div>
              </div>
          </div> {% endcomment %}
          </div>
        </div>
        <div class="d-desktop no-d-mobile">
          <div class="row justify-content-center g-5">
            <div class="col-lg-4">
              <div class="card card-shadow mb-3 card-doctor">
                <div class="card-service-img-h"><div class="card-service-img card-doctor-img-2"></div></div>
                <div class="card-body">
                  <h3 class="card-title text-center mt-3">Dr. Preethi (BNYS)</h3>
                  <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                  <p class="home-sec4-para text-dark text-center">As the dedicated Director of Antara Cares, Dr. Preethi leads our mission with compassion and expertise, ensuring holistic health for all.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-shadow mb-3 card-doctor">
                <div class="card-service-img-h"><div class="card-service-img card-doctor-img-3"></div></div>
                <div class="card-body">
                  <h3 class="card-title text-center mt-3">Dr. Ramya Babu (BNYS, AFMCP)</h3>
                  <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                  <p class="home-sec4-para text-dark text-center">Specializing in Women's Wellness, Dr. Ramya combines expertise with empathy to address unique health needs, fostering supportive healthcare experiences.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-shadow mb-3 card-doctor">
                <div class="card-service-img-h"><div class="card-service-img card-doctor-img-6"></div></div>
                <div class="card-body">
                  <h3 class="card-title text-center mt-3">Dr. Amirthaselvarajan (BNYS)</h3>
                  <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                  <p class="home-sec4-para text-dark text-center">Renowned for crafting personalized care plans, Dr. Amirthaselvarajan excels in treating Parkinson's and musculoskeletal disorders, enhancing mobility and quality of life.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-shadow mb-3 card-doctor">
                <div class="card-service-img-h"><div class="card-service-img card-doctor-img-5"></div></div>
                <div class="card-body">
                  <h3 class="card-title text-center mt-3">Dr. Gousika Vasudevan (BNYS)</h3>
                  <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                  <p class="home-sec4-para text-dark text-center">A seasoned expert in weight management, Dr. Gousika empowers individuals with personalized strategies for achieving and maintaining optimal weight and health.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-shadow mb-3 card-doctor">
                  <div class="card-service-img-h"><div class="card-service-img card-doctor-img-1"></div></div>
                  <div class="card-body">
                    <h3 class="card-title text-center mt-3">Dr. Hamid (BNYS)</h3>
                    <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                    <p class="home-sec4-para text-dark text-center">A versatile consultant specializing in gut health and autoimmune disorders, Dr. Hamid offers tailored solutions for holistic well-being. </p>
                  </div>
                </div>
              </div>
              {% comment %} <div class="col-lg-3">
                <div class="card card-shadow mb-3 card-doctor">
                  <div class="card-service-img-h"><div class="card-service-img card-doctor-img-1"></div></div>
                  <div class="card-body">
                    <h3 class="card-title text-center mt-3">Dr. Ellakya</h3>
                    <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                  </div>
                </div>
              </div> {% endcomment %}
              <div class="col-lg-4">
                <div class="card card-shadow mb-3 card-doctor">
                  <div class="card-service-img-h"><div class="card-service-img card-doctor-img-8"></div></div>
                  <div class="card-body">
                    <h3 class="card-title text-center mt-3">Dr. Durai Viswa (BNYS)</h3>
                    <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                    <p class="home-sec4-para text-dark text-center">With expertise in lifestyle disorders, Dr. Durai Viswa guides individuals on personalized journeys towards sustained well-being, fostering positive transformations in health and lifestyle.</p>
                  </div>
                </div>
              </div>
              {% comment %} <div class="col-lg-3">
                <div class="card card-shadow mb-3 card-doctor">
                  <div class="card-service-img-h"><div class="card-service-img card-doctor-img-1"></div></div>
                  <div class="card-body">
                    <h3 class="card-title text-center mt-3">Dr. Sudharshan</h3>
                    <p class="home-sec4-para text-dark text-center">Consulting Physician</p>
                  </div>
                </div>
              </div> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- Enquiry Section -->
<section id="contact-us" class="home-enquiry-section">
    {% comment %} <div class="home-enq-img text-end no-d-desktop d-mobile">
        <img class="img-fluid home-enq-img-1" src="{% static 'images/home-enq-img.png' %}" alt="Enquiry Image">
    </div> {% endcomment %}
    <div class="container-margin-l container-margin-enq mt-4">
        <div class="home-enq-title">
            <h4 class="home-enq-title-t text-animate">Enquire <span>Us</span></h4>
            <span class="title-border-l title-border-ani-7"></span>
        </div>
        <div class="home-enq-form mt-5">
            <div class="row">
                <div class="col-lg-7 order-lg-1 order-2">
                    <form method="POST" action="{% url 'serviceww' %}" class="row g-lg-4 g-3">
                        {% csrf_token %}
                        <div class="col-md-6">
                            {{ form.firstname }}
                        </div>
                        <div class="col-md-6">
                            {{ form.lastname }}
                        </div>
                        <div class="col-md-12">
                            {{ form.email }}
                        </div>
                        <div class="col-md-12">
                            {{ form.comment }}
                        </div>
                        {{ form.captcha }}
                        {% for error in form.captcha.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-lg-9 col-12">
                                    <p class="home-enq-desc">By clicking the Submit button near, you agree to
                                        receive communications via Email/Call/WhatsApp/SMS from Antara about this
                                        service.</p>
                                </div>
                                <div class="col-lg-3 col-12 text-center">
                                    <button class="home-enq-submit" type="submit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="enq-footer mt-5">
                        <div class="d-flex align-items-center justify-content-between flex-column flex-lg-row">
                            <a href="https://wa.me/917845518010" title="Chat with us on Whatsapp" target="blank" class="home-enq-appointment-2 mb-3 mb-lg-0"><span class="z-index-1"><i
                                class="fa-brands fa-whatsapp pe-2"></i> Whatsapp</span></a>
                            <a href="https://antaracares1.zohobookings.in/#/book-appointment" title="Make an appointment" class="home-enq-appointment-2"><span class="z-index-1"><i
                                class="fa-regular fa-calendar-check pe-2"></i> Online Consultation</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 order-lg-2 order-1 g-0 d-desktop no-d-mobile">
                    <div class="home-enq-img text-end">
                        <img class="img-fluid home-enq-img-1" src="{% static 'images/home-enq-img.png' %}"
                            alt="Enquiry Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}