{% extends 'base.html' %}
{% load static %}
{% block title %}Yoga Club | Antara | Online consultation{% endblock %}
{% block meta-description %}Welcome to Antara’s Signature Yoga Club, your Pathway to long-term Wellness{% endblock %}
{% block canonical-link %}https://www.antaracares.com/our-specialities/yoga-consultations{% endblock %}
{% block og-url %}https://www.antaracares.com/static/images/og.jpg{% endblock %}
{% block og-title %}Yoga Club | Antara | Online consultation{% endblock %}
{% block og-sitename %}Yoga Club | Antara | Online consultation{% endblock %}
{% block og-imgalt %}Yoga Club | Antara | Online consultation{% endblock %}
{% block og-description %}Welcome to Antara’s Signature Yoga Club, your Pathway to long-term Wellness{% endblock %}
{% block twitter-imgalt %}Yoga Club | Antara | Online consultation{% endblock %}
{% block twitter-title %}Yoga Club{% endblock %}
{% block twitter-description %}Welcome to Antara’s Signature Yoga Club, your Pathway to long-term Wellness{% endblock %}

{% block content %}
<!-- Section 1 -->
<section class="yogaclub-sec1">
    <div class="service-yogaclub-section1">
        <div class="service-title">
            <div class="service-title-box">
                <div class="service-title-box-bg">
                    <h1 class="home-sec-1-title text-white text-center mb-0 p-3 text-animate-2 opacity-0">Yoga Club</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="service-tab-bg">
    <div class="service-outer-box">
        <div class="service-box">
            <div class="row justify-content-center">
                <div class="col-lg-6 d-flex align-items-center justify-content-end flex-column flex-lg-row">
                    <div
                        class="service-name pe-0 pe-lg-3 mb-2 mb-lg-0 d-flex align-items-center text-start text-lg-center font-avenir-light fw-light">
                        Yoga Club </div>
                    {% comment %} <div class="flex-row mx-0 my-3 my-lg-0 align-items-center">
                        <div class="px-0 pe-3 px-lg-3 service-border">
                            <p class="font-avenir-light service-t">LENGTH</p>
                            <p class="mb-0 service-p">45 mins</p>
                        </div>
                        <div class="px-0 ps-3 px-lg-3">
                            <p class="font-avenir-light service-t">PRICE</p>
                            <p class="mb-0 service-p d-flex flex-lg-row flex-column px-0 macbook">₹ 650 -<span class="ps-0 ps-lg-2">₹ 5000/month -</span><span class="ps-0 ps-lg-2">₹ 10,000/month</span></p>
                        </div>
                    </div> {% endcomment %}
                </div>
                <div class="col-lg-6 d-flex justify-content-start flex-column align-items-center flex-lg-row p-0">
                    <a href="https://wa.me/917845518010" title="Chat with us on Whatsapp" class="home-enq-appointment-2 me-0 me-lg-3 mb-2 mb-lg-0"><span class="z-index-1"><i class="fa-brands fa-whatsapp"></i> Whatsapp</span></a>
                    {% comment %} <a href="https://antaracares1.zohobookings.in/#/book-appointment" title="Make an appointment" class="home-enq-appointment-2"><span class="z-index-1"><i
                        class="fa-regular fa-calendar-check pe-2"></i> Online Consultation</span></a> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Section 2 -->
<section id="our-partners" class="home-section-2 pb-5">
    <div class="container-margin section1">
        <div class="row justify-content-center">
            <div class="col-12">
                <h2 class="home-sec7-title-t mb-0">
                    <div class="text-center d-desktop no-d-mobile text-animate"><span>Welcome to Antara’s Signature Yoga Club,<br>your Pathway to long-term Wellness</span></div>
                </h2>
                <div class="home-sec7-title-t mb-0">
                    <div class="text-center no-d-desktop d-mobile text-animate"><span>Welcome to Antara’s Signature<br>Yoga Club, your Pathway to<br>long-term Wellness</span></div>
                </div>
                <div class="d-desktop no-d-mobile">
                    <span class="title-border title-border-ani-1"></span>
                </div>
                <div class="d-mobile no-d-desktop">
                    <span class="title-border title-border-ani-1"></span>
                </div>
            </div>
            <div class="col-lg-8">
                <p class="text-start text-lg-center home-sec4-para text-dark mt-4 font-avenir-light">Discover the perfect balance between mind, body, and spirit with our exclusive Yoga Club. Whether you're seeking personalized monthly sessions or the camaraderie of group practice, our offerings cater to your individual journey towards holistic well-being.</p>
            </div>
        </div>
    </div>
</section>

<!-- Section 3 -->
<section id="home-scroll" class="home-section-6 bg-white">
    <div class="container-margin section4 py-5">
    <div class="row align-items-center g-0 g-lg-5">
        <div class="col-lg-5 col-12 order-lg-1 order-2 mt-5 mt-lg-0">
            <div class="home-sec-6-top">
                <div class="d-desktop no-d-mobile">
                    <h4 class="home-sec1-title text-center mt-1 mb-0">
                      <div class="text-animate">Private Yoga Sessions<br>Embrace the Flexibility<br>of Your Schedule</div>
                    </h4>
                    <span class="title-border title-border-ani-1"></span>
                </div>
                <p class="our-story-para font-avenir-light text-start text-lg-center">In today's fast-paced world, finding time for self-care can be a challenge. Our private yoga sessions are tailored to fit seamlessly into your busy lifestyle. As a working professional, you understand the value of time. With our private sessions, you have the freedom to choose the time slot that suits you best, every single day. Whether it's early morning before work, a midday break, or a relaxing evening wind-down, our expert instructors are here to guide you through rejuvenating practices designed to align your body and mind.</p>
            </div>
        </div>
        <div class="col-lg-7 col-12 order-lg-2 order-1 mt-0">
            <div class="d-mobile no-d-desktop">
                <div class="home-sec1-title text-center mt-1 mb-0">
                  <div class="text-animate">Private Yoga Sessions<br>Embrace the Flexibility<br>of Your Schedule</div>
                </div>
                <span class="title-border title-border-ani-2"></span>
              </div>
            <div class="home-sec6-img">
                <img width="700" class="img-fluid" src="{% static 'images/yogaclub-img-2.jpeg' %}" alt="Yoga Club Image">
            </div>
        </div>
    </div>
    </div>
</section>

<!-- Section 5 -->
<section class="home-section-6 light-brown">
    <div class="container-margin section3">
        <div class="row align-items-center g-0 g-lg-5">
            <div class="col-lg-7 col-12 order-2 mb-5 mb-lg-0">
                <div class="home-sec-6-top">
                    <h4 class="home-sec6-title mt-1 mb-0">
                        <div class="text-animate d-desktop no-d-mobile">Main Benefits</div>
                    </h4>
                    <div class="d-desktop no-d-mobile">
                        <span class="title-border-l title-border-ani-2"></span>
                    </div>
                    <ul class="mt-5 font-avenir-light">
                        <li>
                            <p class="home-sec6-para mt-3 mb-0"><strong class="brown">Convenience:</strong> Choose sessions that align with your availability, enhancing consistency and commitment to your practice. You have the freedom to choose the time slot that suits you best, every single day.</p>
                        </li>
                        <li>
                            <p class="home-sec6-para mt-3 mb-0"><strong class="brown">Personalized Attention:</strong> Receive tailored instruction and adjustments according to your personal health history, ensuring maximum benefit from each session.</p>
                        </li>
                        <li>
                            <p class="home-sec6-para mt-3 mb-0"><strong class="brown">Stress Relief:</strong> Decompress from the demands of work and life, promoting relaxation and mental clarity.</p>
                        </li>
                        <li>
                            <p class="home-sec6-para mt-3 mb-0"><strong class="brown">Progressive Growth:</strong> Work at your own pace, advancing through asanas and techniques under the guidance of experienced instructors.</p>
                        </li>
                        <li>
                            <p class="home-sec6-para mt-3 mb-0"><strong class="brown">Exclusive Access & Priority:</strong> As a club member, receive priority booking and special offers for our transformative Antara Escapes.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-12 order-1">
                <div class="service-card-img">
                    <div class="home-sec6-title mt-1 mb-0 text-animate text-center d-mobile no-d-desktop">What Sets Us Apart</div>
                    <div class="d-mobile no-d-desktop">
                        <span class="title-border title-border-ani-3"></span>
                    </div>
                    <div class="home-sec6-img">
                        <img width="400" class="img-fluid" src="{% static 'images/yogaclub-img-3.jpg' %}" alt="Yoga Club Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section 3 -->
<section id="home-scroll" class="home-section-6 bg-white">
    <div class="container-margin section4 py-5">
    <div class="row align-items-center g-0 g-lg-5">
        <div class="col-lg-5 col-12 order-lg-1 order-2 mt-5 mt-lg-0">
            <div class="home-sec-6-top">
                <div class="d-desktop no-d-mobile">
                    <h4 class="home-sec1-title text-center mt-1 mb-0">
                      <div class="text-animate">Group Sessions<br>Join a Community,<br>Elevate Your Practice</div>
                    </h4>
                    <span class="title-border title-border-ani-1"></span>
                </div>
                <p class="our-story-para font-avenir-light text-start text-lg-center">For those who thrive in a supportive group environment, our monthly group sessions offer a sense of belonging and encouragement at a fixed time slot every day. Surround yourself with like-minded individuals on a similar wellness journey as you bond over the shared experience of yoga practice. These sessions are perfect for individuals seeking motivation, accountability, and the camaraderie of a cohort.</p>
            </div>
        </div>
        <div class="col-lg-7 col-12 order-lg-2 order-1 mt-0">
            <div class="home-sec6-img">
                <img width="700" class="img-fluid" src="{% static 'images/yogaclub-img-4.jpg' %}" alt="Yoga Club Image">
            </div>
        </div>
    </div>
    </div>
</section>

<!-- Section 6 -->
<section class="home-section-6 light-brown">
    <div class="container-margin section3">
        <div class="row align-items-center g-0 g-lg-5">
            <div class="col-lg-7 col-12 order-2 mb-5 mb-lg-0">
                <div class="home-sec-6-top">
                    <h4 class="home-sec6-title mt-1 mb-0">
                        <div class="text-animate d-desktop no-d-mobile">Main Benefits</div>
                    </h4>
                    <div class="d-desktop no-d-mobile">
                        <span class="title-border-l title-border-ani-2"></span>
                    </div>
                    <ul class="mt-5 font-avenir-light">
                        <li>
                            <p class="home-sec6-para mt-3 mb-0"><strong class="brown">Community:</strong> Connect with fellow practitioners, fostering a sense of belonging and support at a fixed time slot every day.</p>
                        </li>
                        <li>
                            <p class="home-sec6-para mt-3 mb-0"><strong class="brown">Motivation:</strong> Draw inspiration from group energy and shared goals, enhancing commitment to your practice.</p>
                        </li>
                        <li>
                            <p class="home-sec6-para mt-3 mb-0"><strong class="brown">Variety:</strong> Explore diverse yoga styles and techniques in a collaborative setting, enriching your overall experience.</p>
                        </li>
                        <li>
                            <p class="home-sec6-para mt-3 mb-0"><strong class="brown">Accountability:</strong> Stay on track with your wellness goals through regular attendance and encouragement from peers.</p>
                        </li>
                        <li>
                            <p class="home-sec6-para mt-3 mb-0"><strong class="brown">Social Engagement:</strong> Cultivate meaningful relationships while nurturing your mind, body, and spirit.</p>
                        </li>
                        <li>
                            <p class="home-sec6-para mt-3 mb-0"><strong class="brown">Exclusive Access & Priority:</strong> As a club member, receive priority booking and special offers for our transformative Antara Escapes.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-12 order-1">
                <div class="service-card-img">
                    <div class="home-sec6-title mt-1 mb-0 text-animate text-center d-mobile no-d-desktop">What Sets Us Apart</div>
                    <div class="d-mobile no-d-desktop">
                        <span class="title-border title-border-ani-3"></span>
                    </div>
                    <div class="home-sec6-img">
                        <img width="400" class="img-fluid" src="{% static 'images/yogaclub-img-5.jpg' %}" alt="Yoga Club Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section 5 -->
<section class="home-section-6 bg-white">
    <div class="container-margin section3 w-100">
        <div class="row align-items-center g-0 g-lg-5">
            <div class="col-lg-7 col-12 order-lg-1 order-2 mb-5 mb-lg-0">
                <div class="home-sec-6-top">
                    <h4 class="home-sec6-title mt-1 mb-0">
                        <div class="text-animate d-desktop no-d-mobile">How we work</div>
                    </h4>
                    <div class="d-desktop no-d-mobile">
                        <span class="title-border-l title-border-ani-2"></span>
                    </div>
                    <ul class="mt-5 font-avenir-light">
                        <li>
                            <p class="home-sec6-para mt-3 mb-0"><strong class="brown">Initial Assessment:</strong> We begin with a comprehensive evaluation to understand your goals, health records, fitness level, physical limitations, and preferences.</p>
                        </li>
                        <li>
                            <p class="home-sec6-para mt-3 mb-0"><strong class="brown">Customized Plan:</strong> Based on the assessment, we create a personalized yoga plan tailored specifically to meet your needs and aspirations.</p>
                        </li>
                        <li>
                            <p class="home-sec6-para mt-3 mb-0"><strong class="brown">Regular Monthly Sessions:</strong> Engage in scheduled online sessions with your dedicated instructor, receiving continuous support and guidance throughout your yoga journey.</p>
                        </li>
                        <li>
                            <p class="home-sec6-para mt-3 mb-0"><strong class="brown">Progress Tracking:</strong> We track your progress, making necessary adjustments to ensure you're consistently moving towards your goals.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-12 order-lg-2 order-1">
                <div class="service-card-img">
                    <div class="home-sec6-title mt-1 mb-0 text-animate text-center d-mobile no-d-desktop">Benefits of Your Journey</div>
                    <div class="d-mobile no-d-desktop">
                        <span class="title-border title-border-ani-3"></span>
                    </div>
                    <div class="home-sec6-img">
                        <img width="400" class="img-fluid" src="{% static 'images/yogaclub-img-6.jpg' %}" alt="Yoga Club Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section 7 -->
<section id="why-edubest" class="home-section-7 home-section-7-2 py-5">
    <div class="container-margin section2 d-flex justify-content-center align-items-center flex-column">
        <div class="home-sec7-para mt-4 service-footer-p">
            <h4 class="home-sec7-title-t mb-3">
                <div class="d-desktop no-d-mobile text-animate">
                    Get Started Today:
                </div>
                <div class="text-center d-mobile no-d-desktop text-animate">
                    Get Started Today:
                </div>
            </h4>
            <span class="title-border title-border-ani-7"></span>
            <div class="text-center mx-4">
                <p>At Antara’s Yoga Club, whether you prefer the intimacy of private sessions or the vibrancy of group practice, our experienced instructors are dedicated to guiding you towards optimal health and vitality.</p>
                <p>Join us today and embark on a transformative path towards holistic well-being.</p>
            </div>
        </div>
        <a href="https://antaracares1.zohobookings.in/#/book-appointment" title="Make an appointment" class="home-enq-appointment-2 mt-3"><span class="z-index-1">Book Online Consultation</span></a>
    </div>
</section>

{% endblock %}